---
http_interactions:
- request:
    method: post
    uri: https://api.artik.cloud/v1.1/actions
    body:
      encoding: UTF-8
      string: '{"data":{"actions":[{"name":"setVolume","parameters":{"volume":5}}]},"ddid":"5c97745b1e7a4beb96edd583ad595884","ts":1472794753437.731,"type":"action"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fa460261b858484583097ecb331faaa8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - 100/100000
      X-Rate-Limit-Remaining:
      - 99/99996
      X-Rate-Limit-Reset:
      - 1472794814/1472860800
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"mid":"7d188d6e15f44a1286b3d392aceac5a5"}}'
  recorded_at: Fri, 02 Sep 2016 05:39:14 GMT
- request:
    method: get
    uri: https://api.artik.cloud/v1.1/actions?mid=7d188d6e15f44a1286b3d392aceac5a5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fa460261b858484583097ecb331faaa8
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - "*"
      Content-Type:
      - application/json
      Request-Time:
      - '0.06'
      X-Rate-Limit-Limit:
      - 100/1000
      X-Rate-Limit-Reset:
      - 1472794817/1472860800
      X-Rate-Limit-Remaining:
      - 99/996
    body:
      encoding: UTF-8
      string: '{"mid":"7d188d6e15f44a1286b3d392aceac5a5","uid":"04ddbd35d57d4d7b8f07f219c44457b2","count":100,"order":"asc","size":1,"data":[{"type":"action","cts":1472794754627,"ts":1472794753437,"mid":"7d188d6e15f44a1286b3d392aceac5a5","sdid":"5c97745b1e7a4beb96edd583ad595884","ddid":"5c97745b1e7a4beb96edd583ad595884","data":{"actions":[{"name":"setVolume","parameters":{"volume":5}}]},"ddtid":"dt8399fcebc37e44658a5b00495b61ec9d","uid":"04ddbd35d57d4d7b8f07f219c44457b2","mv":7}]}'
  recorded_at: Fri, 02 Sep 2016 05:39:17 GMT
recorded_with: VCR 3.0.3
