---
http_interactions:
- request:
    method: get
    uri: https://api.artik.cloud/v1.1/accounts/tokenInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fa460261b858484583097ecb331faaa8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"user_id":"04ddbd35d57d4d7b8f07f219c44457b2","client_id":"b6951bf387b84f63b38911ae35d65e28","expires_in":224617}}'
  recorded_at: Wed, 31 Aug 2016 04:11:54 GMT
recorded_with: VCR 3.0.3
