---
http_interactions:
- request:
    method: get
    uri: https://api.artik.cloud/v1.1/users/04ddbd35d57d4d7b8f07f219c44457b2/devicetypes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fa460261b858484583097ecb331faaa8
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - "*"
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - 100/1000
      X-Rate-Limit-Reset:
      - 1472706031/1472774400
      X-Rate-Limit-Remaining:
      - 97/948
    body:
      encoding: UTF-8
      string: '{"data":{"deviceTypes":[{"id":"dt9f44d55592654d0fab2e8b15259471ea","oid":"a2c153df2b7c4f31bcf79dd2aec157dd","uid":"04ddbd35d57d4d7b8f07f219c44457b2","name":"CloudDeviceType","published":false,"approved":false,"protected":true,"latestVersion":0,"uniqueName":"io.samsungsami.cloud.testdt","vid":"0","rsp":false,"issuerDn":null,"description":null,"inStore":false,"hasCloudConnector":false,"billingSubscriptionId":"sub_8Ff3ISYJKVVxpG","lastUpdated":1460399175000},{"id":"dtb9ac6a046cc743feb65a793f1b84ab78","oid":"a2c153df2b7c4f31bcf79dd2aec157dd","uid":"04ddbd35d57d4d7b8f07f219c44457b2","name":"Custom
        Expensive Device Type","published":true,"approved":true,"protected":true,"latestVersion":1,"uniqueName":"cloud.artik.custom.expensivedevicetype","vid":"0","rsp":false,"issuerDn":null,"description":"Has
        a bunch of test information to share with the world","tags":[{"name":"automotive","isCategory":true},{"name":"car","isCategory":false},{"name":"caprese","isCategory":false},{"name":"management","isCategory":false}],"inStore":false,"hasCloudConnector":false,"billingSubscriptionId":"sub_8Ff475JF1UvuPz","lastUpdated":1461766419000},{"id":"dtc70e7c8934ed4d0abebdb23d23469eab","oid":"a2c153df2b7c4f31bcf79dd2aec157dd","uid":"04ddbd35d57d4d7b8f07f219c44457b2","name":"DMPedometer","published":false,"approved":true,"protected":true,"latestVersion":1,"uniqueName":"cloud.artik.dm.pedometer","vid":"0"[...]
