---
http_interactions:
- request:
    method: get
    uri: https://api.artik.cloud/v1.1/users/04ddbd35d57d4d7b8f07f219c44457b2/devices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fa460261b858484583097ecb331faaa8
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - "*"
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - 100/1000
      X-Rate-Limit-Reset:
      - 1472706031/1472774400
      X-Rate-Limit-Remaining:
      - 98/949
    body:
      encoding: UTF-8
      string: '{"data":{"devices":[{"id":"1340f16ae1614c3194d04282b10da588","dtid":"dtc70e7c8934ed4d0abebdb23d23469eab","name":"DMPedometer1","manifestVersion":1,"manifestVersionPolicy":"LATEST","needProviderAuth":false,"cloudAuthorization":"NO_AUTHORIZATION","createdOn":1472509051000,"connected":true},{"id":"ebc10fcfe71048f1b7a07ea16604fb0c","dtid":"dt548080e90be144f080ce28b26be62929","name":"dt548080e90be144f080ce28b26be62929","manifestVersion":1,"manifestVersionPolicy":"LATEST","needProviderAuth":false,"cloudAuthorization":"AUTHORIZED","createdOn":1460580896000,"connected":true},{"id":"d660278e6f044a57986bb0f79d364e7f","dtid":"dt8e71cabde68b4028b106832247cd6d72","name":"dt8e71cabde68b4028b106832247cd6d72","manifestVersion":8,"manifestVersionPolicy":"LATEST","needProviderAuth":false,"c[...]
