---
http_interactions:
- request:
    method: get
    uri: https://api.artik.cloud/v1.1/users/self
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fa460261b858484583097ecb331faaa8
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - "*"
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - 100/1000
      X-Rate-Limit-Reset:
      - 1472706031/1472774400
      X-Rate-Limit-Remaining:
      - 99/950
    body:
      encoding: UTF-8
      string: '{"data":{"id":"04ddbd35d57d4d7b8f07f219c44457b2","name":"maneesh","email":"maneesh.sahu@ssi.samsung.com","fullName":"Maneesh
        Sahu","saIdentity":"kqil5l7kgb","accountType":"SAMSUNG","createdOn":1406839290000,"modifiedOn":1413483926000}}'
  recorded_at: Thu, 01 Sep 2016 04:59:32 GMT
recorded_with: VCR 3.0.3
